<fieldset>
  <legend>Invoice for which Client and Project</legend>
  <div class="form-group">
    <label for="project">Select Project</label>
    <select name="project" id="project">
      <%- @manager.projects.each do |p| -%>
        <%- if @project -%>
          <%- if @project.id == p.id -%>
            <option value="<%= p.id -%>"><%= p.client.detail.name -%> - <%= p.name -%> - <%= p.identifier -%></option>
          <%- end -%>
        <%- else -%>
          <option value="<%= p.id -%>"><%= p.client.detail.name -%> - <%= p.name -%> - <%= p.identifier -%></option>
        <%- end -%>
      <%- end -%>
    </select>
  </div>
  <div class="col-md-6 form-group">
    <label for="identifier">Invoice Identifier</label>
    <small>Invoice Name or Number according to your system.</small>
    <input type="text" id="identifier" name="identifier" class="form-control" required/>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="due_date">Due Date</label>
      <%= select_date Date.today, prefix: :due_date %>
    </div>
  </div>
</fieldset>
<fieldset class="line-items">
  <legend>Invoice Details <span class="pull-right"><button type="button" class="btn btn-info btn-xs new-line-item">New Line Item</button></span></legend>
  <input class="num_of_line_items" type="hidden" name="num_of_line_items" value="1"/>
  <div class="row">
    <div class="col-md-8 form-group">
      <label for="item1">Line Item 1</label>
      <input type="text" id="item1" name="item1" class="form-control" required/>
    </div>
    <div class="form-group col-md-4">
      <Label for="amount1">Line Item 1 Amount</Label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input id="amount1" name="amount1" type="number" class="form-control" aria-label="Amount" required>
      </div>
    </div>
  </div>
</fieldset>
<button type="submit" class="btn btn-primary">Create Invoice</button>